* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 12px;
    font-family: "Poppins",sans-serif;
}

.wrapper {
    max-width: 1134px;
    margin: 0 auto;
}

/* button */


.btn {
    padding: 16px 32px;
    border-radius: 24px;
    color: white;
    display: inline-block;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    position: relative;
}

.btn.dark {
    background: #070917;
}

.btn.light {
    background: #da722c;
}
.btn.login {
    background: #da722c;
    padding: 10px 60px;
}

a.forgot {
    color: #070917;
    font-size: 15px;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: bold;
}

/* header */

header {
    background: rgb(17, 124, 143);
    height: auto;
    width: 100%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px 36px;
}

nav li {
    list-style: none;
}


.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 900;
    font-size: 40px;
    color: #ffffff;
    padding: 40px;
}

.logo a {
    color: white;
    text-decoration: none;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 40px;
    list-style: none;
    margin: 0;
}

nav ul li a {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: #ffffff;
    text-decoration: none;
}

/* menubar */

.menubar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px 36px;
}

.menubar ul {
    display: flex;
    align-items: center;
    gap: 60px;
    list-style: none;
    margin: 0;
}

.menubar li {
    list-style: none;
}

.menubar ul li a {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 24px;
    color: #ffffff;
    text-decoration: none;
}

section {
    text-align: center;
    min-width: 100vh;
    min-height: auto;
}

section div.main {
    display: flex;
    margin: 30px;
}

section div h1 {
    font-size: 40px;
}

section .intro {
    display: flex;
}

div.main .left {
    align-items: left;
    width: 50%;
}

div.main .left .credit {
    text-align: right;
    color: red;
}

div.main .right {
    align-items: right;
    width: 50%;
}

div.main h1 {
    color: #da722c;
    font-size: 40px;
    font-family: "Raleway",sans-serif;
    text-align: left;
}

div.main p {
    color: #333;
    font-size: 20px;
    text-align: left;
}

/* Courses */

.images-front {
    display: flex;
}

.course-image {
    width: 250px;
    height: 250px;
}

.college-reviews {
    padding: 10px;
    border-radius: 3px;
}

.videos-4 {
    padding: 10px;
}

/* Study Materials */

.course-image.notes {
    width: 240px;
    height: 250px;
}




/* Login Page */

div.wrapper .login-form {
    text-align: center;
    padding: 100px;
    max-width: 534px;
    margin: 0 auto;
}

div.login p {
    font-size: 13px;
} 

div.forgot1 {
    padding: 10px;
}

div.forgot1 {
    margin-bottom: 30px;
}

div.wrapper .login {
    border: 1px solid #e3e3e3;
    border-radius: 16px;
    box-sizing: border-box;
    font-family: Source Sans Pro;
    margin: 5px;
}

div.wrapper .loginid {
    padding: 05px;
}

div .loginid.text {
    align-items: right;
}

/* div .login.form {
    background: skyblue;
} */

/* Footer */

footer {
    background: #070917;
    color: white;
    margin-top: 100px;
    padding: 50px 0;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
}

footer a {
    font-family: "Raelwey", sans-serif;
    font-weight: 900;
    text-decoration: none;
    color: white;
}

footer h3 {
    color: #da722c;
}

footer ul {
    list-style: none;
    padding-left: 20px;
}

footer ul li {
    margin: 16px 0;
}

footer ul .email {
    margin: 20px;
}

footer .links-container {
    display: grid;
    grid-template-columns: 2fr 2fr 3fr;
}

footer .social {
    margin-left: 20px;
}

footer .social a {
    margin-right: 28px;
}

footer .subscribe {
    margin-left: 20px;
    margin-top: 16px;
    position: relative;
}


footer form input {
    font-family: sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 200%;
    border-radius: 8px;
    padding: 8px 32px;
    border: none;
    width: 100%;
    color: black;
}


footer form .submit-btn {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    background: #da722c;
    border-radius: 8px;
    padding: 8px 32px;
    border: none;
    font-family: sans-serif;
    font-weight: normal;
    font-size: 16px;
    color: white;
    cursor: pointer;
}

/* contact us page  */

div.wrapper .contact-form {
    text-align: center;
    padding: 100px;
    max-width: 534px;
    margin: 0 auto;
    padding: 30px;
}

div.contact_us p {
    font-size: 13px;
} 

div.wrapper .contact {
    border: 1px solid #e3e3e3;
    border-radius: 16px;
    box-sizing: border-box;
    font-family: Source Sans Pro;
    margin: 5px;
}

div.wrapper .contact_us {
    padding: 05px;
}

div .contact_text {
    align-items: right;
}

/* study material page */

.study-images-front {
    display: grid;
    grid-template-rows: auto auto auto auto;
}

.Study_Materials_image {
    width: 250px;
    height: 250px;
}

.college-reviews {
    padding: 10px;
    border-radius: 3px;
}

.videos-4 {
    padding: 10px;
}

.study_1 {
    border: 2px solid grey;
    margin: 10px;
    border-radius: 10px;
    padding: 20px;
}

.Study_Materials {
    margin-top: 50px;
}

.study_1 .section_1 {
    display: flex;
}

.study_img {
    border-radius: 10px;
    text-align: left;
    padding-right: 30px;
}

.enroll_now {
    text-align: right;
}

.study_1 .section_1 .study_text {
    display: grid;
    grid-template-rows: 2;
}

.study_1 .study_text h1 {
    color: #da722c;
}

.study_1 .study_text p {
    font-size: 20px;
    width: 300px;
    border: 2px dashed grey;
    background: rgb(240, 236, 236);
    padding: 20px;
}

/* about page */

.about_page {
    max-width: 784px;
    align-items: center;
    border: 10px solid black;
    margin: 50px;
    border-radius: 40px;
}

.about_page_content p {
    font-size: 20px;
    font-family: "Poppins",sans-serif;
}

.about_page_content h4 {
    font-size: 30px;
    font-family: "Raleway",sans-serif;
}

.about_page_content h1 {
    font-size: 40px;
    font-family: "Raleway",sans-serif;
    text-align: center;
}

.about_page_content h2 {
    font-size: 35px;
    font-family: "Raleway",sans-serif;
    text-align: center;
    color: red;
    text-decoration: underline;
}

.about_page_content {
    align-items: center;
    margin: 5px;
    border: 5px dashed #070917;
    border-radius: 20px;
    padding: 20px;
}

.About_img img {
    width: 330px;
    height: 250px;
}

/* notes */

#subject {
    width: 270px;
    height: 50px;
    font-size: 30px;
    font-family: "Raleway",sans-serif;
    font-weight: 900;
    color: firebrick;
}

#chapter {
    width: 270px;
    height: 50px;
    font-size: 30px;
    font-family: "Raleway",sans-serif;
    font-weight: 900;
    color: firebrick;
}

#notes {
    width: 270px;
    height: 50px;
    font-size: 30px;
    font-family: "Raleway",sans-serif;
    font-weight: 900;
    color: firebrick;
}

.subject_notes {
    margin: 30px 40px;
}

.notes_option {
    display: flex;
    text-align: center;
}

.study_1.notes-option {
    background: rgb(223, 222, 222);
    border: 2px solid #070917;

}

.study_1 .section_1 .notes_text {
    display: grid;
    grid-template-rows: 2;
}

.study_1 .notes_text h1 {
    color: #090909;
}

.study_1 .notes_text p {
    font-size: 20px;
    width: 300px;
    border: 2px dashed grey;
    background: rgb(240, 236, 236);
    padding: 20px;
}